# Notebook para teste do funcionamento das funções

### 1. Imports

In [1]:
import pandas as pd
import numpy as np
from functions import load_df,calcula_log_retorno,calcula_retorno,calcula_var,calcula_es

### 2. Teste função que calcula retornos

In [2]:
#Carregando o df
df = load_df()
df.sort_index(ascending=False)

           date  price
232  04/01/2021  5.261
231  05/01/2021  5.263
230  06/01/2021  5.283
229  07/01/2021  5.387
228  08/01/2021  5.416
..          ...    ...
4    01/12/2021  5.665
3    02/12/2021  5.652
2    03/12/2021  5.677
1    06/12/2021  5.686
0    07/12/2021  5.618

[233 rows x 2 columns]

In [3]:
#Calculando o retorno
df_retornos = calcula_retorno(pd_series = df.price,hp = 1,descending =True)
df_retornos

     price  price_1  ret_rel_simples_1
232  5.261      NaN                NaN
231  5.263    5.261           0.000380
230  5.283    5.263           0.003800
229  5.387    5.283           0.019686
228  5.416    5.387           0.005383
..     ...      ...                ...
4    5.665    5.647           0.003188
3    5.652    5.665          -0.002295
2    5.677    5.652           0.004423
1    5.686    5.677           0.001585
0    5.618    5.686          -0.011959

[233 rows x 3 columns]

Se pegarmos cada (preço (t) - preço (t-1))/ preço (t) vemos que o resultado dá o mesmo que na função

In [4]:
df_teste_1 = df.reset_index().sort_index(ascending=False) #série original está invertida
(df_teste_1.price - df_teste_1.price.shift(1))/df_teste_1.price

232         NaN
231    0.000380
230    0.003786
229    0.019306
228    0.005355
         ...
4      0.003177
3     -0.002300
2      0.004404
1      0.001583
0     -0.012104
Name: price, Length: 233, dtype: float64

### 3. Teste função que calcula log retornos

In [5]:
#calculando o log retorno
df_logretornos = calcula_log_retorno(pd_series = df.price,hp = 1,descending =True)
df_logretornos

     price  price_1  log_retorno_1
232  5.261      NaN            NaN
231  5.263    5.261       0.000380
230  5.283    5.263       0.003793
229  5.387    5.283       0.019495
228  5.416    5.387       0.005369
..     ...      ...            ...
4    5.665    5.647       0.003182
3    5.652    5.665      -0.002297
2    5.677    5.652       0.004413
1    5.686    5.677       0.001584
0    5.618    5.686      -0.012031

[233 rows x 3 columns]

Se pegarmos cada ln(preço (t) / preço (t) vemos que o resultado dá o mesmo que na função

In [6]:
df_teste_2 = df.reset_index().sort_index(ascending=False) #série original está invertida
np.log(df_teste_2.price/df_teste_2.price.shift(1))

232         NaN
231    0.000380
230    0.003793
229    0.019495
228    0.005369
         ...
4      0.003182
3     -0.002297
2      0.004413
1      0.001584
0     -0.012031
Name: price, Length: 233, dtype: float64

### 4. Teste função que calcula o var

In [12]:
#caculando o var
var_quantile, var_parametrico = calcula_var(pandas_serie_retornos=df_retornos['ret_rel_simples_1'],alpha=0.05,vlr_carteira_atual=5.261,descending=False)
var_quantile

-0.09444999999999998

considerando que o var quantile é o valor alpha quantil da distribuição vamos calcular ele manualmente a partir do primeiro df

In [13]:
df_teste_3 = df.reset_index().sort_index(ascending=False).copy()
df_teste_3['pnl'] = df_teste_3.price - df_teste_3.price.shift(1)
print(f'Var alpha 5% {df_teste_3.pnl.quantile(0.05)}')

Var alpha 5% -0.09444999999999996

### 5. Teste função que calcula o ES

In [14]:
#Calculando o ES
es = calcula_es(pandas_serie_retornos=df_retornos['ret_rel_simples_1'],var=var_quantile,vlr_carteira_atual=5.261,descending=False)
es

-0.11841666666666668

considerando que o es é a média de todos os valores em quantiles inferiores ao var, vamos calcular o es para o var 5% com valor inicial da carteira de 5.261

In [15]:
df_teste_3 = df.reset_index().sort_index(ascending=False).copy()
df_teste_3['pnl'] = df_teste_3.price - df_teste_3.price.shift(1)
var = df_teste_3.pnl.quantile(0.05)
df_teste_3.loc[df_teste_3.pnl <= var,'pnl'].mean()

-0.11841666666666668